{
  "mcpServers": {
    "harness": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "harness-mcp-v2"
      ],
      "env": {
        "HARNESS_API_KEY": "pat.REPLACE_ME",
        "HARNESS_BASE_URL": "https://app.harness.io",
        "HARNESS_ACCOUNT_ID": "REPLACE_ME",
        "HARNESS_ORG_ID": "sandbox",
        "HARNESS_PROJECT_ID": "harness_demo_seanc"
      }
    }
  }
}
